<div class="container">
    <div class="row text-center p-2">
        <div class="col-12  mb-2 mt-2 p-2 card">
            <img [src]="prd.img" alt="Card image" class="rounded" width="98%" height="320px">
            <div class="card-body">
            <h5 class=" alert-info  text-center p-3"> This Is {{prd.name}} Form Best Brands</h5> 
            <p class="alert-info text-center p-3 "> The Price after Discount Is {{prd.price}} Only</p>
            <p class="card-text">This Is Alot Of Color And Form From This  If You Like</p>
        </div>
    </div>
</div>

<a class="btn btn-primary" (click)=" goBack()"> Back </a>>