<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand p-2 rounded text-light  bg-primary" [routerLink]="['/Home']"> Alrays store </a>
    <button class="bg-light navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
             aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link text-light p-2 rounded mr-3"  [routerLink]="['/n']" routerLinkActive="bg-success"> One-stop shop  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light p-2 rounded mr-3"  [routerLink]="['/contact']" routerLinkActive="bg-success"> Contact Us <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-light p-2 rounded mr-3"  [routerLink]="['/about']" routerLinkActive="bg-success"> About  <span class="sr-only">(current)</span></a>
            </li> -->
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link disabled text-light" href="#">Disabled</a>
            </li> -->

            <!-- <li class="nav-item">
                <a class="nav-link text-light p-2 rounded text-light" [routerLink]="['/Home']" routerLinkActive="bg-success"> Home </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link text-light p-2 rounded text-light" [routerLink]="['/products']" routerLinkActive="bg-success"> Products </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light p-2 rounded text-light" [routerLink]="['/child']" routerLinkActive="bg-success"> Products By Categories </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light p-2 rounded text-light" [routerLink]="['/allprods']" routerLinkActive="bg-success"> Products </a>
            </li>
        </ul>
        
    </div>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
</nav>

<div class="ground">
    <img src="../../../assets/ground3.jpeg" alt="Card image" class="rounded"  width="100%" >
</div>


