<div class="container">
        <div class="col-12  mb-2 mt-2 p-2 card">
            <!-- <img [src]="p.img" alt="Card image" class="rounded" width="98%" height="320px"> -->
            <h2 class="text-center"> All Informations About This Product </h2> 
            <div class="card-body">
            <h5 class=" alert-info card-title  text-center p-3"> Product Name iS:   <b> {{prd.name}}  </b> Form Best Brands</h5> 
            <h5 class="alert-info text-center p-3 "> The Price after Discount Is <b> {{prd.price}} </b> Only</h5>
            <h5 class="alert-info text-center p-3 card-text">There is Alot Of Color From This If You Like</h5>
        </div>
</div>
